<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBUSSjNNBtwnXy_ck3lrH9qtXuFPib3GEg" type="text/javascript"></script> 
		<script src="/hyperlapse/examples/js/dat.gui.min.js"></script>
		<script src="/hyperlapse/examples/js/GSVPano.js"></script>
		<script src="/hyperlapse/examples/js/three.min.js"></script>
		<!--<script src="/hyperlapse/build/hyperlapse.min.js"></script>-->
		<script src="/hyperlapse/src/Hyperlapse.js"></script>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body> 
		

		<script src="/javascripts/bikelapse.js"></script>
	</body> 

</html>